django 
djangorestframework 
djangorestframework-simplejwt 
python-dotenv
redis
celery
django-celery-results
psycopg2-binary
pillow
drf-spectacular
drf-yasg
drf-spectacular[sidecar]
django-filter
reportlab
django-cors-headers
psycopg2-binary
dj-database-url
python-decouple
gunicorn
whitenoise